:root{

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}

header{

    background-color:#5496BF;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
}
h1{

    color: white;
}

    
body{

    background-color: #F2F2F2;
}

.Search{
    color: #5496BF;
    margin-right: 10px;
}
.double{
    display: flex;
    flex-direction: row;
    align-items: center;
   margin-bottom: 100px;
}
.double input {
    height: 30px;
    width: 400px
}
button{
    background-color: #BF2424;
    color: white;
    padding: 5px ;
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 35px;
    text-align: center;
    margin-left: 5px;
    
}
.result{
    padding: 30px;
    color: white;
    background-color:#5496BF;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
}
.hero ul{

    list-style-type: none;
    padding: 15 px;
}
.hero li{
    font-size: 25px;
}

