:root{

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}
main{
    margin-left: 20em;
}
header{

    background-color:#5496BF;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
}
h1{

    color: white;
}

    
body{

    background-color: #F2F2F2;
}
.body{
    color: white;
    padding: 10px;
    display: flex;
    align-items: left;   
}
button{

    background-color: #BF2424;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 40px;
    align-items: right;
}
.result{
    padding: 30px;
    background-color: #0c8d8d;
    color: white;
}
.hero ul{

    list-style-type: none;
    padding: 15 px;
}
.hero li{
    font-size: 25px;
}

